.info {
    width: 100%;
    display: flex;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    padding: 12px;
}

h1 {
    text-align: center;
}


.info .info-cont {
    align-items: center;
    background: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    margin: 20px 10px 10px 10px;
    padding: 14px;
    width: 200px;
}

.info-cont p {
    text-align: center;
    font-size: 1.5rem;
}

.info-cont span {
    font-size: 1.5rem;
    font-weight: bold;
}

.input-group {
    height: 40px;
    width: 16% !important;
}

.input-group .input-orden {
    border: solid 1px #ced4da;
    margin-bottom: 8px !important;
    padding: 10px;
}

.input-group .input-orden:focus {
    outline: none;
    border: solid 1px #0d6efd;
}


/*=========Btn buscar ordenes=======*/

.contform {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

.contform_form {
    display: flex;
    width: 200px;
}

.contform_form--input {
    border-radius: 6px 0px 0px 6px;
    border: solid 1px #ced4da;
    height: 36px;
    outline: none;
    padding: 8px;
    width: 100%;
}

.contform_form--search {
    border: solid 1px #ced4da;
    background-color: #0d6efd;
    border-radius: 0px 6px 6px 0px;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 4px;
    width: 40px;
}




@media (max-width: 768px) {
    .info {
        flex-direction: column; 
        display: grid;
        grid-template-columns: 3.33%, 3.33%, 3.33%;
    }


    .contform {
        flex-direction: column;
    }

    .contform_form--input,
    .contform_form--search {
        margin-bottom: 4px;
    }
}