<IfModule mod_rewrite.c>
    RewriteEngine On 


    RewriteRule ^([a-zA-Z0-9]+)$ index.php?pagina=$1

    # Redirigir las solicitudes con extensión ".php" eliminada a la versión con extensión
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php [L]

    # Evitar el acceso directo a los archivos locales
    Options -Indexes

    # Redireccionar a la página de error 404
    ErrorDocument 404 62.72.0.107/404.php
</IfModule>


