* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
  
body {
    background-color: #f2f2f2 !important;
    font-family: 'Roboto', sans-serif;
}


.sectionTable {
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: 80px auto;
}

/*==============paginador====================*/

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-item {
    margin-right: 10px;
}

.pagination-item a {
    display: block;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-decoration: none;
    color: #333;
}

.pagination-item.active a {
    background-color: #2471A3;
    color: #fff;
    border-color: #2471A3;
}

.pagination-item.disabled a {
    opacity: 0.5;
    pointer-events: none;
}
