* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f2f2f2 !important;
    font-family: 'Roboto', sans-serif;
    position: relative;
}


/*==============BTN CONFIG====================*/

.newContrasena {
    align-items: center;
    background: #fff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 50%;
    display: flex;
    color: rgb(42, 134, 138);
    font-size: 30px;
    justify-content: center;
    height: 60px;
    right: 10px;
    top: 50%;
    transition: all 1s;
    position: absolute;
    width: 60px;
    z-index: 1;
}

.newContrasena:hover {
    background: #0d6efd;
    color: #fff;
}

/* =============span del modal=========== */

h1#exampleModalLabel {
    color: cadetblue;
}

.span {
    display: flex;
    flex-direction: column;
}

.span label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2px;
}

.span span {
    color: cadetblue;
    font-weight: bold;
    margin-bottom: 4px;
}

/* ============table=========== */

.sectionTable {
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: 80px auto;
}

/*==============paginador====================*/

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-item {
    margin-right: 10px;
}

.pagination-item a {
    display: block;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-decoration: none;
    color: #333;
}

.pagination-item.active a {
    background-color: #2471A3;
    color: #fff;
    border-color: #2471A3;
}

.pagination-item.disabled a {
    opacity: 0.5;
    pointer-events: none;
}