* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .login-wrapper {
    width: 350px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-header h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
  }
  
  .login-header p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    color: #666;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .input-group input:focus {
    outline: none;
    border-color: #2ecc71;
  }
  
  .input-group label i {
    margin-right: 5px;
    color: #2ecc71;
  }
  

  .forgot-password {
    text-align: right;
    margin-bottom: 20px;
  }
  
  .forgot-password a {
    color: #666;
    text-decoration: underline;
  }

  .submit-btn {
    display: block;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #27ae60;
  }
  