.login-wrapper {
  margin: 100px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-header h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  color: #1c2833;
}

.login-header p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
  color: #666;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: all 1s;
}

.input-group input:focus {
  outline: none;
  border: 2px solid #2471A3;
}

.input-group label i {
  margin-right: 5px;
  color: #2471A3;
}


.forgot-password {
  text-align: right;
  margin-bottom: 20px;
}

.forgot-password a {
  color: #1c2833;
  text-decoration: underline;
}

.submit-btn {
  display: block;
  background-color: #1c2833;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
}

.alert {
  background-color: #f44336;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 6px;
  text-align: center;
}

.alert-success {
  background-color: rgb(70, 172, 70);
  color: white;
}

.alert-danger {
  background-color: red;
  color: white;
}

.alert-warning {
  background-color: orange;
  color: white;
}


@media (min-width: 768px) {
  .login-wrapper {
    margin: 150px auto;
    width: 400px;

  }
}