main {
    padding: 50px 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    height: 400px;
    margin: 100px auto;
    width: 400px;
}

form.form {
    height: 100%;
}

.form-title {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.form-label {
    color: #666;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-input {
    border: 1px solid #cccccc;
    border-radius: 5px;
    display: block;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
}

.form-input:focus {
    outline: none;
    border: 2px solid #2471A3;
}

.form-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #1c2833;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.form-button a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #1c2833 !important;
    text-decoration: underline;
    font-size: 16px;
    margin-top: 20px;
}

.linkInicio{
    margin-top: 20px;
    color: #1c2833;
}


@media (min-width: 768px) {
    main {
        margin: 160px auto;
    }
}